---
# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/infra/bigquery-export"
      - "/infra/dataform-service"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 2

  - package-ecosystem: "terraform"
    directories:
      - "/infra/tf/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 2

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 2
