---
name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      statuses: write # To report GitHub Actions status checks

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8.3.0
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JSCPD: false
          VALIDATE_JAVASCRIPT_PRETTIER: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_CHECKOV: false
          VALIDATE_GIT_COMMITLINT: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false

  dependabot:
    name: Dependabot auto-merge
    runs-on: ubuntu-latest
    needs: lint
    if: github.event.pull_request.user.login == 'dependabot[bot]' && github.repository == 'HTTPArchive/dataform'

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Enable auto-merge for Dependabot PRs
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch' || steps.metadata.outputs.update-type == 'version-update:semver-minor'
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
